ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  background: #363537;
  padding: 0;
}

.topbar {
  padding: 0;
}

.navbar-brand {
  display: none;
  padding: 5px 15px;
  margin: 0;
  height: 100%;
  text-transform: capitalize;
  transition: 0.2s;
}

.navbar-brand.home {
  background: #b02c28;
}

.navbar-brand.education {
  background: #0178b0;
}

.navbar-brand.skill {
  background: #f86017;
}

.navbar-brand.experience {
  background: #e3b505;
}

.navbar-brand.contact {
  background: #ffc15e;
}

.navbar-brand.register {
  background: #9c95dc;
}

@media query and (max-width: 991px) {
  #navbarSupportedContent {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.navbar-nav {
  width: 100%;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  font-size: 1.5em;
  width: calc(100% / 5);
  text-align: center;
  padding: 0;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .nav-item {
    width: 100%;
    font-size: 1em;
  }
}

.nav-item.home.active {
  background: #b02c28;
}

.nav-item.education.active {
  background: #0178b0;
}

.nav-item.active.skill {
  background: #f86017;
}

.nav-item.active.experience {
  background: #e3b505;
}

.nav-item.active.contact,
.nav-item.active.schedule {
  background: #ffc15e;
}

.nav-item.active.register {
  background: #9c95dc;
}

.nav-link {
  color: #ffffff;
  transition: 0.2s;
}

.nav-link:hover {
  color: #cccccc;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    display: block;
  }
}

#content {
  width: 100%;
}

.content-item {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background: #b02c28;
}

#home img {
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  #home img {
    max-width: 170px;
  }
}

#home h1 {
  font-size: 4em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}

#home h2 {
  font-size: 2.5em;
  color: #dddddd;
  max-width: 60%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #home h1 {
    font-size: 3em;
  }

  #home h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  #home h1 {
    font-size: 2em;
  }

  #home h2 {
    font-size: 1.3em;
  }
}

#education {
  background: #0178b0;
}

#education .row {
  margin: 20px 0;
}

#education .col {
  text-align: center;
  background: #f86017;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: calc(70vw / 3);
  min-height: 20vh;
}

#education .col h3 {
  font-weight: bolder;
}

@media screen and (max-width: 1300px) {
  #education .col {
    width: calc(90vw / 3);
  }

  #education .col h3 {
    font-size: 1.5em;
  }

  #education .col h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 991px) {
  #education .row {
    margin: 10px 0;
  }

  #education .col {
    width: calc(100vw / 3);
    margin: 0 10px;
  }

  #education .col h3 {
    font-size: 1.3em;
  }

  #education .col h4 {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  #education .row {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  #education .col {
    min-height: 50vw;
    width: 80%;
    margin: 10px auto;
  }
}

#skill {
  background: #f86017;
}

#skill .col {
  background: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: #ffffff;
  width: 20vw;
  margin: 10px;
}

@media screen and (max-width: 1300px) {
  #skill .col {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  #skill .row {
    flex-direction: column;
    height: auto;
    width: 100vw;
  }

  #skill .col {
    width: 80%;
    min-height: auto;
    margin: 10px auto;
  }
}

#skill .col img {
  width: 70%;
  margin-bottom: 15px;
  border-radius: 50%;
}

#skill .col img.no-rad {
  border-radius: 0%;
}

#experience {
  background: #e3b505;
}

#experience h3 {
  font-weight: bolder;
}

#experience .col {
  background: #ffffff;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  background: #ffffff;
  width: 20vw;
  margin: 30px;
}

#experience .col img {
  width: 70%;
  margin-bottom: 15px;
  border-radius: 50%;
}

@media screen and (max-width: 1300px) {
  #experience .col {
    width: 30vw;
    margin: 15px;
  }

  #experience .col h3 {
    font-size: 1.5em;
  }

  #experience .col h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 991px) {
  #experience .col h3 {
    font-size: 1.3em;
  }

  #experience .col h4 {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  #experience .row {
    flex-direction: column;
    width: 100vw;
  }

  #experience .col {
    width: 90%;
    min-height: auto;
    margin: 10px auto;
  }
}

#contact {
  background: #ffc15e;
}

#contact form {
  width: 70vw;
  background: #b02c28;
  padding: 30px;
  color: #ffffff;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  #contact form {
    width: 90vw;
    padding: 15px;
  }
}

#contact form button:hover {
  background: #ffc15e;
}

#register {
  background: #9c95dc;
  padding: 80px 0;
}

#register form {
  width: 70vw;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
}

#register form button:hover {
  background: #9c95dc;
}

@media screen and (max-width: 800px) {
  #register form {
    width: 90vw;
    padding: 15px;
  }
}

#schedule {
  background: #ffc15e;
  justify-content: flex-start;
}

#schedule .schedule-menu {
  margin-bottom: 20px;
}

#schedule .schedule-list {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

#schedule .schedule-content {
  display: grid;
  grid-template-columns:
    calc((100% - 60px) / 4) calc((100% - 60px) / 4) calc((100% - 60px) / 4)
    calc((100% - 60px) / 4);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 90%;
}

#schedule .schedule-list h3 {
  background: #b02c28;
  color: #ffffff;
  padding: 10px 20px;
}

#schedule .schedule-list ul {
  padding: 10px 20px;
}

#schedule-add {
  background: #ffc15e;
}

#schedule-add form {
  width: 70vw;
  padding: 30px;
  border-radius: 20px;
  background: #b02c28;
  color: #ffffff;
}

#schedule-add form button:hover {
  background: #ffc15e;
}

@media screen and (max-width: 800px) {
  #schedule-add form {
    width: 90vw;
    padding: 15px;
  }
}
