<!DOCTYPE html>
<html>

<head>
  {% block heading %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <title>Gagah Pangeran Rosfatiputra</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
  {% endblock heading %}
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <span class="navbar-brand"></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item home">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item education">
            <a class="nav-link" href="/education">Education</a>
          </li>
          <li class="nav-item skill">
            <a class="nav-link" href="/skill">Skill</a>
          </li>
          <li class="nav-item experience">
            <a class="nav-link" href="/experience">Experience</a>
          </li>
          <!-- <li class="nav-item contact">
            <a class="nav-link" href="/contact">Contact</a>
          </li> -->
          <li class="nav-item schedule">
            <a class="nav-link" href="/schedule">Schedule</a>
          </li>
          <li class="nav-item register">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script> -->
  <!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->

  <script>
    const path = window.location.pathname;
    let currentPath = path === "/" ? "home" : path.slice(1);
    if (currentPath.split("/").length > 1) currentPath = currentPath.split("/")[1];

    if (path !== "/") document.title = path[1].toUpperCase() + path.slice(2) + " - " + document.title;

    const navbar = document.getElementsByClassName("nav-item");
    for (let i = 0; i < navbar.length; i++) {
      let nav = navbar[i];
      let text = nav.textContent.trim().toLowerCase();
      if (text === currentPath) {
        nav.className = nav.className + " active";
      }
    }

    brand = document.getElementsByClassName("navbar-brand");
    brand[0].innerText = currentPath;
    brand[0].className = brand[0].className + " " + currentPath;
  </script>
</body>

</html>