{% extends 'base.html' %}

{% block content %}

<section id="contact" class="content-item">
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter full name" name="name">
    </div>
    <div class="form-group">
      <label for="msg">Message:</label>
      <textarea class="form-control" id="msg" name="msg" placeholder="Enter message"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>

{% endblock content %}