{% extends 'base.html' %}

{% block content %}

<section id="education" class="content-item">
  <div class="row">
    <div class="col col3">
      <h3>Faculty of Computer Science<br />University of Indonesia</h3>
      <h4>2017 - Now</h4>
    </div>
    <div class="col col3">
      <h3>SMAN 2 Jakarta</h3>
      <h4>2014 - 2017</h4>
    </div>
    <div class="col col3">
      <h3>SMPN 169 Jakarta</h3>
      <h4>2011 - 2014</h4>
    </div>
  </div>

  <div class="row">
    <div class="col col2">
      <h3>SDN Pegadungan 12 Pagi</h3>
      <h4>2008 - 2011</h4>
    </div>
    <div class="col col2">
      <h3>SDN Jurumudi Baru</h3>
      <h4>2006 - 2008</h4>
    </div>
  </div>
</section>

{% endblock content %}