{% extends 'base.html' %}

{% block content %}

<section id="experience" class="content-item">
  <div class="row">
    <div class="col">
      <img src="https://files.catbox.moe/o5q1je.svg">
      <h3>Staff of IT Dev Compfest</h3>
      <h4>March 2018 - Now</h4>
    </div>
    <div class="col">
      <img src="https://files.catbox.moe/9c4jfj.png">
      <h3>Web Developer of Kyou.id</h3>
      <h4>June 2018 - Now</h4>
    </div>
    <div class="col">
      <img src="https://files.catbox.moe/yblueh.png">
      <h3>Admin of Offical Line Account Computer Q&A</h3>
      <h4>May 2017 - Now</h4>
    </div>
  </div>
</section>
{% endblock content %}