{% extends 'base.html' %}

{% block content %}

<section id="home" class="content-item">
  <img src="http://curvi.gagahpangeran.com/asset/foto.jpg">
  <h1>Gagah Pangeran Rosfatiputra</h1>
  <h2>
    <em>“Suatu pekerjaan yang berat jika tidak dikerjakan akan terasa lebih ringan”</em>
  </h2>
</section>

{% endblock content %}