{% extends 'base.html' %}

{% block content %}

<section id="register" class="content-item">
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter full name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Username:</label>
      <input type="text" class="form-control" id="user" placeholder="Enter username" name="user">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>

    <div class="form-group">
      <label for="pass">Password:</label>
      <input type="password" class="form-control" id="pass" placeholder="Enter password" name="pass">
    </div>

    <div class="form-group">
      <label for="confpass">Confirmation Password:</label>
      <input type="password" class="form-control" id="confpass" placeholder="Enter password again" name="confpass">
    </div>

    <div class="form-group">
      <label for="birthday">Birthday:</label>
      <input type="date" class="form-control" id="birthday" name="birthday">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
{% endblock content %}