{% extends 'base.html' %}

{% block content %}

<section id="schedule" class="content-item">

    <div class="schedule-menu">
        <a href="/schedule/add">
            <button type="button" class="btn btn-primary">Add</button>
        </a>
        <a href="/schedule/delete">
            <button type="button" class="btn btn-danger">Delete All</button>
        </a>
    </div>
    <div class="schedule-content">
        {% for data in list %}
        <div class="schedule-list">
            <h3>{{ data.activity }}</h3>
            <ul>
                <li>Date : {{ data.date }}</li>
                <li>Time : {{ data.time }}</li>
                <li>Place : {{ data.place }}</li>
                <li>Category : {{ data.category }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}