{% extends 'base.html' %}

{% block content %}

<section id="schedule-add" class="content-item">
    <a href="/schedule" style="margin-bottom: 20px">
        <button type="button" class="btn btn-primary">View Schedule</button>
    </a>
    <form action="add" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="activity">Activity:</label>
            <input type="text" class="form-control" id="name" placeholder="Activity Name" name="activity" maxlength="30"
                required />
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" placeholder="Date" name="date" required />
        </div>
        <div class="form-group">
            <label for="date">Time:</label>
            <input type="time" class="form-control" id="time" placeholder="Time" name="time" required />
        </div>
        <div class="form-group">
            <label for="place">Place:</label>
            <input type="text" class="form-control" id="place" placeholder="Where..." name="place" maxlength="30" />
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" id="category" placeholder="Type it.." name="category" maxlength="30" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock content %}