{% extends 'base.html' %}

{% block content %}

<section id="skill" class="content-item">
  <div class="row">
    <div class="col">
      <img src="https://files.catbox.moe/dungcv.png">
      <h3>Java</h3>
    </div>
    <div class="col">
      <img src="http://www.iconarchive.com/download/i73027/cornmanthe3rd/plex/Other-python.ico">
      <h3>Python</h3>
    </div>
    <div class="col">
      <img src="https://www.netsite.dk/wp-content/uploads/2016/04/php.png">
      <h3>PHP</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="https://cdn-images-1.medium.com/max/1200/1*6kK9j74vyOmXYm1gN6ARhQ.png">
      <h3>React.js</h3>
    </div>
    <div class="col">
      <img class="no-rad" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
      <h3>C++</h3>
    </div>
    <div class="col">
      <img src="http://fortimelp.fr/367-thickbox_default/formation-mysql-dba-database-administrator-5-jours.jpg">
      <h3>MySQL</h3>
    </div>
  </div>
</section>

{% endblock content %}